#root {
  text-align: center;
}
.section {
  width: 400px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
/* body {
  width: 823px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  overflow: hidden;
} */
/* section {
  height: 1020px;
  width: 100%;
  /* width: calc(100%-16px);
  position: absolute;
  overflow-y: scroll;

  left: 0;
  right: 0;

  margin: auto; 
} */
.title {
  position: absolute;
  left: 0;
  top: 150%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
}
.header {
  position: absolute;
  width: 823px;
  height: 196px;
  left: 0;
  right: 0;
  margin: auto;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
/* Logo */

.logo {
  position: absolute;
  left: 3.73%;
  right: 82.93%;
  top: 15%;
  bottom: 91.5%;
}
.menu {
  position: absolute;
  left: 86.82%;
  right: 5.56%;
  top: 17%;
  bottom: 91.5%;
}
/* Free shipping over $2000 */

.shipping {
  position: absolute;
  width: 287px;
  height: 30px;
  left: 264px;
  top: 103px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  text-align: center;

  /* FF Color */

  color: #0d2750;
}
.mainframe {
  /* main_frame */
  position: absolute;
  left: 26.61%;
  right: 26.49%;
  top: 86.42%;
  bottom: -15.47%;
  background: rgb(13, 39, 80);
  border: 1px solid rgb(13, 39, 80);
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
}
.mainText {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  display: block;
  margin-left: 29px;
  margin-top: 4px;
  color: #ffffff;
}
.container {
  position: absolute;
  top: 35%;
  width: 100%;
  height: auto;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.box {
  background: #fff;
  width: 33%;
  height: 300px;
  border: 1px solid #0d2750;
  margin: 20px;
  box-sizing: border-box;
  font-size: 50px;
}

.search {
  position: absolute;
  left: 90.04%;
  right: -6.08%;
  top: 149.78%;
  bottom: 81.82%;
  /* FF Color */
}
.info {
  position: absolute;
  right: 15%;
  top: 150%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
/* Description */

.desc {
  position: absolute;
  left: 10.7%;
  right: 11.04%;
  top: 70.56%;
  bottom: 13.38%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;

  /* Text_Color */

  color: #000000;
}
.pricered {
  /* price+ */
  position: absolute;
  /* left: 10.7%;
  right: 50.51%; */
  margin-left: 2%;
  top: 83.48%;
  bottom: 3.41%;
  margin-bottom: 20%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;

  /* Red */

  color: #ff0000;
}
.wrapper {
  top: 60%;
  /* border: 1px solid #ddd; */
  display: flex;
  overflow-x: auto;
  position: absolute;
  width: 823px;
  height: 277px;
  left: 0;
  right: 0;
  margin: auto;
  background: #ffffff;
}
.wrapper::-webkit-scrollbar {
  width: 0;
}
.wrapper .items {
  min-width: 270px;
  height: 250px;
  text-align: center;
  background-color: #fff;
  margin-right: 4px;
  border: 1px solid #000;
}
.more {
  /* price+ */
  margin-left: 80%;
  top: 91.48%;
  bottom: 3.41%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  clear: both;
  float: right;
  margin-bottom: 10%;
  color: #000;
}
