#root {
  text-align: center;
  position: relative;
  width: 823px;
  margin: 0 auto;
}
.section {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
h1 {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title {
  position: absolute;
  left: 0;
  top: 150%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
}
.header {
  position: absolute;
  width: 823px;
  height: 196px;
  left: 0;
  right: 0;
  margin: auto;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  position: absolute;
  left: 3.73%;
  right: 82.93%;
  top: 15%;
  bottom: 91.5%;
}
.menu {
  position: absolute;
  left: 86.82%;
  right: 5.56%;
  top: 17%;
  bottom: 91.5%;
}

.shipping {
  position: absolute;
  width: 287px;
  height: 30px;
  left: 264px;
  top: 103px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  text-align: center;

  color: #0d2750;
}
.mainframe {
  position: absolute;
  left: 26.61%;
  right: 26.49%;
  top: 86.42%;
  bottom: -15.47%;
  background: rgb(13, 39, 80);
  border: 1px solid rgb(13, 39, 80);
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
}
.mainText {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  display: block;
  margin-left: 29px;
  margin-top: 4px;
  color: #ffffff;
}
.container {
  position: absolute;
  top: 35%;
  width: 100%;
  height: auto;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.box {
  background: #fff;
  width: 33%;
  height: 300px;
  border: 1px solid #0d2750;
  margin: 20px;
  box-sizing: border-box;
  font-size: 50px;
}

.search {
  position: absolute;
  left: 90.04%;
  right: -6.08%;
  top: 149.78%;
  bottom: 81.82%;
  /* FF Color */
}
.info {
  position: absolute;
  right: 15%;
  top: 150%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 512px;
}

.desc {
  position: absolute;
  top: 75%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;

  /* Text_Color */

  color: #000000;
}
.pricered {
  position: absolute;
  margin-left: 2%;
  top: 83.48%;
  bottom: 3.41%;
  margin-bottom: 20%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;

  /* Red */

  color: #ff0000;
}
.wrapper {
  top: 55%;
  display: flex;
  overflow-x: auto;
  position: absolute;
  width: 823px;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  background: #ffffff;
}
.wrapper::-webkit-scrollbar {
  width: 0;
}
.wrapper .items {
  text-align: center;
  background-color: #fff;
  margin-right: 30px;
  border: 1px solid #000;
  background: linear-gradient(
    134.05deg,
    rgba(34, 80, 13, 0) 1.02%,
    rgba(13, 39, 80, 0.095) 101.5%
  );
  border: 1px solid #0d2750;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #000;
  background: linear-gradient(
    134.05deg,
    rgba(34, 80, 13, 0) 1.02%,
    rgba(13, 39, 80, 0.095) 101.5%
  );
  border: 1px solid #0d2750;
  box-sizing: border-box;
  border-radius: 3px;
}
.wrapper .subitems {
  position: absolute;
  top: 60%;
  min-width: 360px;
  height: 650px;
  text-align: center;
  background-color: #fff;
  margin-right: 30px;
  border: 1px solid #000;
  background: linear-gradient(
    134.05deg,
    rgba(34, 80, 13, 0) 1.02%,
    rgba(13, 39, 80, 0.095) 101.5%
  );
  border: 1px solid #0d2750;
  box-sizing: border-box;
  border-radius: 3px;
}
.more {
  margin-right: 220%;
  top: 91.48%;
  bottom: 3.41%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  clear: both;
  float: right;
  margin-bottom: 10%;
  color: #000;
}
.wtitle {
  position: absolute;
  margin-left: 2%;
  top: 70.48%;
  bottom: 3.41%;
  margin-bottom: 20%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #000;
}

p {
  color: #000;
  font-size: 24px;
  z-index: 9;
}
